@import "components/statusbar.css";
@import "reset.css";
@import "screen/welcome.css";
@import "screen/loginform.css";
@import "variable.css";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  margin: 0px 20px;
}

input:focus {
  outline: none;
}
