.header-chats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 20px;
  margin-top: 80px;
  margin-bottom: 40px;
}
.header-chats h1 {
  font-size: 25px;
  font-weight: 500;
}
.header-chats__icons i {
  margin-left: 20px;
}

.chatting {
  display: flex;
  justify-content: space-between;
}
.chatting__column {
  display: flex;
  position: relative;
}
.chatting__column__img {
  height: 50px;
  width: 50px;
  border-radius: 15px;
}
.chatting__column__text {
  display: flex;
  flex-direction: column;
}
.chatting__column__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.chatting__column:nth-child(2) {
  flex-direction: column;
  align-items: center;
}
.chatting__column__time {
  color: rgba(0, 0, 0, 0.4);
}
.chatting__column__dot {
  display: flex;
  width: 25px;
  height: 25px;
  background-color: tomato;
  position: absolute;
  border-radius: 14px;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 25px;
}
