.welcome-header {
  margin-top: 70px;
  margin-bottom: 70px;
  text-align: center; /* p나 span같은 텍스트 엘리먼트들은 이걸 이용해서 가운데 정렬이 가능함*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-header__box1 {
  margin-bottom: 25px;
  font-size: 20px;
  font-weight: 500;
}
.welcome-header__box2 {
  width: 50%;
  color: var(--gray);
}

.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input {
  border: none;
  padding: 20px 0px;
}
.login-from input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  transition: border-color 0.3s ease-in-out;
}
.login-form input::placeholder {
  font-size: 18px;
}
.login-form input:focus {
  border-color: var(--yellow);
}

.login-form input:nth-child(2) {
  margin-bottom: 40px;
}
.login-form input:nth-child(n + 3) {
  /*input:[type="submit"]으로 대체 가능*/
  border-radius: 5px;
  margin: 10px 0px;
  border: none;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--yellow);
}
.login-form input:nth-child(n + 3):hover {
  outline: 1px solid tomato;
}
.login-form a {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.login-form a:hover {
  color: var(--yellow);
}
