.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 20px 0px;
  transition: border-color 0.3s ease-in-out;
}
.login-form input::placeholder {
  font-size: 18px;
}
.login-form input:focus {
  border-color: var(--yellow);
}

.login-form input:nth-child(2) {
  margin-bottom: 40px;
}
.login-form input:nth-child(n + 3) {
  border-radius: 3%;
  margin: 10px 0px;
  border: none;
  transition: color 0.3s ease-in-out;
}
.login-form input:nth-child(n + 3):hover {
  outline: 1px solid var(--yellow);
}
.login-form a {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.login-form a:hover {
  color: var(--yellow);
}
