.more-dot {
  display: flex;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background-color: tomato;
  position: absolute;
  left: 128px;
  bottom: 15px;
}
.more-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.more-profile__1 {
  display: flex;
}
.more-profile__img-in {
  height: 70px;
  width: 70px;
  border-radius: 25px;
}
.more-profile__img {
  margin-right: 15px;
}
.more-profile__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.more-profile__text span:first-child {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
}
.more-profile__text span:nth-child(2) {
  color: rgba(0, 0, 0, 0.5);
}
.more-profile__text span i {
  margin-left: 5px;
  color: red;
}
.icons-1,
.icons-2 {
  display: flex;
  padding: 0px 20px;
}
.icons-1 {
  justify-content: space-between;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.icons-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100px;
}
.icons-box i {
  margin-bottom: 30px;
}

.icons-2 {
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  justify-content: space-between;
}
.suggestions {
  display: flex;
  flex-direction: column;
}
.suggestions__title {
  margin: 20px 0px;
}
.suggestions__icons {
  display: flex;
}
.suggestions__icons__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.suggestions__img {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.suggestions__icons__box span {
  color: rgba(0, 0, 0, 0.6);
}
.more-dot2 {
  height: 6px;
  width: 6px;
  border-radius: 3px;
  background-color: tomato;
  position: absolute;
  left: 70px;
  bottom: 55px;
}
.opacity {
  opacity: 0;
}
.icons-box:nth-child(2) {
  position: relative;
}

.hover:hover {
  transform: scale(1.3);
}
.hover-sm:hover {
  transform: scale(1.2);
}
