.profile {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.profile__img {
  height: 60px;
  width: 60px;
  border-radius: 20px;
  margin-right: 10px;
}
.profile__title {
  margin-bottom: 10px;
}
