.status-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  box-sizing: border-box;
  top: 0;
}
.status-bar__box {
  width: 100px; /*이게 정말 어려웠다...*/
  display: flex; /*플렉스를 여기에 줘야 안에있는 애들을 정렬할수 있음*/
  justify-content: center;
  align-items: center;
}
.status-bar__box3 {
  width: 100px; /*이게 정말 어려웠다...*/
  display: flex;
  justify-content: flex-end;
}

.status-bar__margin {
  margin-right: 3px;
}
